version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  api:
    build: ./api
    env_file: ./api/.env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

volumes:
  mongo-data:
